.post-author {
    display: flex;
    margin-bottom: -20px;
    font-size: 1.25rem;
}

.mainPostContainer {
    margin-left: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
}

.postLink {
    color: rgb(1, 36, 1);
    font-size: 1.25rem;
}

.postLink:hover {
    color: rgb(160, 158, 158);
}

.new_post_form {
    width: 45em;
    margin: auto;
}
.post-title,
.are-u-sure {
    cursor: pointer;
    font-size: 25px;
    text-align: left;
    font-weight: 1500 !important;
}
.postDetailContainer {
    width: 45em;
    margin: auto;
}
.dot-dot-dot{
    display: flex;
    align-self: center;
    cursor: pointer;
}
.dot-w {
    height: 7px;
    width: 7px;
    margin: 3px;
    border-radius: 25rem;
    background-color: white;
}
.lowerhalf-right {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: flex-end;
}
.lowerhalf-left{
    width: 70%;
    display: flex;
    align-self: center;
}
.post-buttons{
    display: flex;
    flex-flow: row nowrap
}
.close-btn{
    /* height: 17px;
    width: 17px;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-right: 2rem; */
}

.lowerhalf {
    width: 100%;
    display: flex;
    margin-top: .25rem;

}
.dot {
    height: 7px;
    width: 7px;
    margin: 3px;
    border-radius: 25rem;
    background-color: black;
}
.dot-div {
    height: 5px;
    width: 5px;
    margin: 0px 20px;
    border-radius: 25rem;
    background-color: black;
    display: flex;
    align-self: center;

}

.author_date_container {
    display: flex;
}

.authorName {
    margin-right: 15px;
}

.posted-in {
    display: flex;
}

.post-item {
    border: 1px solid black;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

.cat-on-post{
    font-weight: 1000 !important;
    font-family: "Comfortaa";
    margin-left: .35rem;
}

.newPostbtn {
    margin: .5rem;
}

.my-posts-heading {
    text-align: center;
    margin: .5rem;
    font-size: 30px !important;
    font-weight: 800 !importnat;
}