.posts-site-title {
    position: absolute;
}

.post-author {
    display: flex;
    margin-bottom: -20px;
    font-size: 1.25rem;
}

.mainPostContainer {
    margin-left: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
}

.postLink {
    color: rgb(1, 36, 1);
    font-size: 1.25rem;
    font-weight: bold;
}

.post-title {
    width: 60%;
    margin-right: 0;
}

.publication-date {
    left: 0;
    float: right;
}

.postLink:hover {
    color: rgb(160, 158, 158);
}

.new_post_form {
    width: 45em;
    margin: auto;
}
.post-title,
.are-u-sure {
    cursor: pointer;
    font-size: 25px;
    text-align: left;
    font-weight: 1500 !important;
}

.post-list-single {
    border: solid black 2px;
    margin-right: 60px;
    min-height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}
.postDetailContainer {
    /* width: 35em; */
    flex-basis: 50%;
    border-right: 1px solid  rgba(197, 197, 197, 0.568);

}
.dot-dot-dot{
    display: flex;
    align-self: center;
    cursor: pointer;
}
.dot-w {
    height: 7px;
    width: 7px;
    margin: 3px;
    border-radius: 25rem;
    background-color: white;
}
.lowerhalf-right {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: flex-end;
}
.lowerhalf-left{
    width: 70%;
    display: flex;
    align-self: center;
}
.post-buttons{
    display: flex;
    flex-flow: row nowrap
}

.lowerhalf {
    width: 100%;
    display: flex;
    margin-top: .25rem;

}
.dot {
    height: 7px;
    width: 7px;
    margin: 3px;
    border-radius: 25rem;
    background-color: black;
}
.dot-div {
    height: 5px;
    width: 5px;
    margin: 0px 20px;
    border-radius: 25rem;
    background-color: black;
    display: flex;
    align-self: center;

}

.author_date_container {
    display: flex;
}

.authorName {
    margin-right: 15px;
}

.posted-in {
    display: flex;
}

.post-item {
    border: 1px solid black;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

.cat-on-post{
    font-weight: 1000 !important;
    font-family: "Comfortaa";
    margin-left: .35rem;
}

.newPostbtn {
    width: 120px;
    margin-left: 55rem;
    background-color: transparent;
    color: black;
}

.my-posts-heading {
    text-align: center;
    margin: .5rem;
    font-size: 30px !important;
    font-weight: 800 !important;
}
.postTagContainer {
    text-align: center;
    flex-basis: 30%;
    margin-right: auto;
}

.postFlex {
    display: flex;
    margin-top: 20px;
    flex-basis: auto;

}
.post-tags-container {
    width: 10em;
}

.flexLeftSpace {
    flex-basis: 20%;
}

.edit-post-tags-bttn {
    background-color: white;
    color: black;
    border: black 1px solid;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}

.edit-post-tags-bttn:hover {
    background-color: rgb(141, 106, 17);
    border: none;
    color: white;
}

.reaction-img:hover{
    cursor: pointer;
}

.reaction-img{
    margin: 5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkslategrey;
    border-radius: 10px;
    border: solid black 1px;
}

::-webkit-scrollbar-thumb {
    background:white;
    border-radius: 10px;
    border: solid black 1px;
}