.cat-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-radius: .35rem;
    border: 1px solid rgba(0, 0, 0, 0.747);
    padding: .15rem .35rem;
    margin: .35rem;
    cursor: pointer;
}

.categories {
    text-align: center;
}
/* .category-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0.5rem 0.5rem;
    padding: 0.35rem 1.5rem;
    box-shadow: 0.15rem 0.15rem 0.3rem #90969b;
} */

.cat-name {
    text-align:center;
    font-weight: 500 !important;
    font-size: 18px;
}

.cat-list-cont {
    display: flex;
    justify-content: space-around;
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.cat-btn-name {
    font-weight: 500;
    font-size: 12px;
}


.list-wrapper,
.cat-btn-list-title {
    margin-left: 2rem;
    padding: 0 0;
    max-width: 70%;
    max-height: 40%;
}

.cat-btn-list-title {
    font-size: 14px;
    font-weight: 900 !important;
    padding-left: .45rem;
    text-transform: uppercase;
}

.cat-btn--list {
    display: flex;
    flex-basis: 20%;
    flex-flow: row wrap;
}

.selected {
    color: white;
    background-color: black;
}

.catListContainer {
    display: flex;
    justify-content: space-around;
}

.categoryForm {
    border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    text-align: center;border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
}

.change_Category_form{
    border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    background-color: gray !important;
    color: white !important;
}
