.new_comment_form {
    width: 45em;
    margin: auto;
    margin-bottom: 20px;
}

.comment-content-input {
    min-height: 100px;
    margin-top: 10px;
}

.comment_submit_btn {
    margin-top: 10px;
}

.commentContainer {
    text-align: center;
}

.comments {
    width: 70vw;
    height: 100%;
    display: inline-block;
}

.comment {
    border: solid black 2px;
    border-radius: 20px;
    width: 40%;
    float: left;
    margin-bottom: 20px;
    margin-left: 7%;
    flex-flow: nowrap;
}

.comment_subject {
    font-weight: bolder;
    font-size: 20px;
}

.comment_date {
    font-style: italic;
}